canvas {
    background-color: #eeeeee;
    border: 2px inset black;
}

#log-area {
    float: left;
    margin-left:40px;
}

#inputs {
    float:left;
}

#input-machine-div {
    float:left;
}

#input-tape-div {
    float:left;
}

#machine-format {
    width:400px;
    float:left;
}

#how-to-use {
    width:400px;
    margin-left:50px;
    float:left;
}

#instructions {
    width:900px;
    height:400px;
}

#examples {
    width:900px;
}

#example-1 {
    margin-left: 50px;
    width: 300px;
    float: left;
    border: solid;
    background-color: #dfdfdf;
    padding:10px;
}

#example-2 {
    margin-left: 50px;
    width: 300px;
    float: left;
    border: solid;
    background-color: #dfdfdf;
    padding:10px;
}

.table-pre {
    background-color: white;
}

td {
    vertical-align:top;
}