body {
    font-family:monospace;
    font-size:12px;
}

canvas {
    background-color: #eeeeee;
    border: 2px inset black;
    border-radius:10px;
}

#log-area {
    float: left;
    margin-left:40px;
}

#inputs {
    float:left;
    height:600px;
}

#input-machine-div {
    float:left;
}

#input-tape-div {
    float:left;
}

#machine-format {
    padding:10px;
    width:400px;
    float:left;
}

#how-to-use {
    padding:10px;
    width:400px;
    margin-left:50px;
    float:left;
}

#instructions {
    width:900px;
    height:400px;
    border: solid 2px;
    border-radius: 10px;
}

#examples {
    margin-top:50px;
    width:900px;
    height:650px;
}

#example-1 {
    margin-left: 50px;
    width: 300px;
    float: left;
    border: solid;
    background-color: #dfdfdf;
    padding:10px;
    border-radius: 10px;
}

#example-2 {
    margin-left: 50px;
    width: 300px;
    height: auto;
    float: left;
    border: solid;
    background-color: #dfdfdf;
    padding:10px;
    border-radius: 10px;
}

.table-pre {
    background-color: white;
}

td {
    vertical-align:top;
}

#footer {
    clear:left;
    width:500px;
    height:20px; 
    background:#abcdef;
    font-size:15px;
    padding:10px;
}

#footer-small {
    clear:left;
    height:20px; 
    width:500px;
    font-size:15px;
    background:#abcdef;
    padding:10px;
}

strong {
    font-size:large;
    color: #ff0000;
}